<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Welcome to Pierre's bakery</h1>
  <p>Here is a list of Pierre's Vendors</p>
  <h3><a href ='/vendors'>view vendors</a></h3>
  <h3><a href = '/vendors/new'>add a new vendor</a></h3>
</body>
</html>